---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: freight-text-pro, "FreightText", serif;
$base-sans: freight-sans-pro, "FreightSans", serif;
$base-font-size:   21px;
$base-line-height: 30px;

$color-blue: 	   #4A90E2;
$color-green: 	   #98CC30;
$color-grey:       #ACB7C3;
$color-bg:         #F6F8FA;
$color-black:      #222325;

// Width of the content area
$content-width:    980px;

$on-palm:          400px;
$on-laptop:        600px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;
