<div class="wrapper">
	<div class="footer__social-buttons">
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="fschultz_">Tweet</a>
	<div class="fb-like" data-href="https://fabianschultz.com/media-consumption/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
	</div>

	<div class="footer__colophon">
		<p>
			The statistics above are a result of a <a href="//goo.gl/forms/yZohKnLOe7">survey</a> which was created for a student project at the University of Applied Sciences in Potsdam. It raised 10 questions around the topic of Media Consumption. <a href="//interface.fh-potsdam.de/eingabe-ausgabe/crowdsourcing/">Learn more</a> or <a href="//goo.gl/cor7Re">view the raw data</a>.
		</p>
		<p>
			Design, Code and Data by <a href="//fabianschultz.com">Fabian Schultz</a>.</br>
			Supervised by <a href="//fabianmoronzirfas.me">Fabian Mor&#243;n Zirfas</a>.</br>
			Made at the <a href="//fh-potsdam.de">University of Applied Sciences Potsdam</a>.</br>
			You can find the code for this site at <a href="//github.com/fabe/media-consumption">GitHub</a>.</br>
		</p>
	</div>

	<a href="//fh-potsdam.de" class="footer__fhp">Made at FHP</a>
	<p class="footer__copyright">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Fabian Schultz</p>
</div>